Repository ls1intum/thesis-management, pull requests merged in 2025-05, with the labels that each got.

#481 Development: Fix and Extend Research Group Support Across Services
  client/src/components/UserInformationForm/UserInformationForm.tsx
  client/src/pages/BrowseThesesPage/components/CreateThesisModal/CreateThesisModal.tsx
  client/src/pages/ManageTopicsPage/components/ReplaceTopicModal/ReplaceTopicModal.tsx
  client/src/pages/ReplaceApplicationPage/components/MotivationStep/MotivationStep.tsx
  client/src/pages/ThesisPage/components/ThesisConfigSection/ThesisConfigSection.tsx
  docs/DEVELOPMENT.md
  server/src/main/java/de/tum/cit/aet/thesis/controller/EmailTemplateController.java
  server/src/main/java/de/tum/cit/aet/thesis/controller/ThesisController.java
  server/src/main/java/de/tum/cit/aet/thesis/controller/TopicController.java
  server/src/main/java/de/tum/cit/aet/thesis/controller/payload/CreateThesisPayload.java
  server/src/main/java/de/tum/cit/aet/thesis/controller/payload/ReplaceTopicPayload.java
  server/src/main/java/de/tum/cit/aet/thesis/controller/payload/UpdateThesisPayload.java
  server/src/main/java/de/tum/cit/aet/thesis/entity/EmailTemplate.java
  server/src/main/java/de/tum/cit/aet/thesis/repository/UserRepository.java
  server/src/main/java/de/tum/cit/aet/thesis/service/ApplicationService.java
  server/src/main/java/de/tum/cit/aet/thesis/service/EmailTemplateService.java
  server/src/main/java/de/tum/cit/aet/thesis/service/ResearchGroupService.java
  server/src/main/java/de/tum/cit/aet/thesis/service/ThesisService.java
  server/src/main/java/de/tum/cit/aet/thesis/service/TopicService.java
  server/src/main/resources/db/changelog/changes/09_email_templates.sql
  server/src/main/resources/db/changelog/manual/insert_tum_aet_email_templates.sql
  server/src/test/java/de/tum/cit/aet/thesis/controller/ApplicationControllerTest.java
  server/src/test/java/de/tum/cit/aet/thesis/controller/ThesisControllerTest.java
  server/src/test/java/de/tum/cit/aet/thesis/controller/TopicControllerTest.java
  server/src/test/java/de/tum/cit/aet/thesis/mock/BaseIntegrationTest.java
  server/src/test/java/de/tum/cit/aet/thesis/mock/CurrentUserMockUtil.java
  server/src/test/java/de/tum/cit/aet/thesis/mock/EntityMockFactory.java
  server/src/test/java/de/tum/cit/aet/thesis/service/ApplicationServiceTest.java
  server/src/test/java/de/tum/cit/aet/thesis/service/AuthenticationServiceTest.java
  server/src/test/java/de/tum/cit/aet/thesis/service/ThesisCommentServiceTest.java
  server/src/test/java/de/tum/cit/aet/thesis/service/ThesisPresentationServiceTest.java
  server/src/test/java/de/tum/cit/aet/thesis/service/ThesisServiceTest.java
  server/src/test/java/de/tum/cit/aet/thesis/service/TopicServiceTest.java
  server/src/test/java/de/tum/cit/aet/thesis/service/UserServiceTest.java
Labels: bug, improvement, java

#484 Development: Show research groups across all thesis-related tables and forms
  client/package-lock.json
  client/package.json
  client/src/components/ApplicationReviewForm/ApplicationReviewForm.tsx
  client/src/components/ApplicationsTable/ApplicationsTable.tsx
  client/src/components/ThesesTable/ThesesTable.tsx
  client/src/components/ThesisData/ThesisData.tsx
  client/src/components/TopicData/TopicData.tsx
  client/src/components/TopicsTable/TopicsTable.tsx
  client/src/pages/AboutPage/AboutPage.tsx
  client/src/pages/BrowseThesesPage/components/CreateThesisModal/CreateThesisModal.tsx
  client/src/pages/DashboardPage/DashboardPage.tsx
  client/src/pages/LandingPage/LandingPage.tsx
  client/src/pages/LandingPage/components/PublishedTheses/PublishedTheses.tsx
  client/src/pages/ManageTopicsPage/components/ReplaceTopicModal/ReplaceTopicModal.tsx
  client/src/pages/ReplaceApplicationPage/components/MotivationStep/MotivationStep.tsx
  client/src/pages/SettingsPage/components/NotificationSettings/NotificationSettings.tsx
  client/src/pages/ThesisPage/components/ThesisConfigSection/ThesisConfigSection.tsx
  client/src/pages/ThesisPage/components/ThesisVisibilitySelect/ThesisVisibilitySelect.tsx
  client/src/requests/responses/thesis.ts
  server/src/main/java/de/tum/cit/aet/thesis/constants/ApplicationRejectReason.java
  server/src/main/java/de/tum/cit/aet/thesis/controller/PublishedThesisController.java
  server/src/main/java/de/tum/cit/aet/thesis/controller/ThesisController.java
  server/src/main/java/de/tum/cit/aet/thesis/dto/PublishedThesisDto.java
  server/src/main/java/de/tum/cit/aet/thesis/repository/ThesisRepository.java
  server/src/main/java/de/tum/cit/aet/thesis/repository/UserRepository.java
  server/src/main/java/de/tum/cit/aet/thesis/service/MailingService.java
  server/src/main/java/de/tum/cit/aet/thesis/service/ThesisService.java
  server/src/main/java/de/tum/cit/aet/thesis/utility/MailBuilder.java
  server/src/main/java/de/tum/cit/aet/thesis/utility/MailConfig.java
  server/src/main/resources/db/changelog/manual/insert_tum_aet_research_group.sql
Labels: enhancement, javascript, improvement, java

#486 Development: Keycloak Role Bug
  server/src/main/java/de/tum/cit/aet/thesis/entity/User.java
  server/src/main/java/de/tum/cit/aet/thesis/security/CurrentUserProvider.java
  server/src/main/java/de/tum/cit/aet/thesis/service/ThesisService.java
Labels: bug, java

#487 Development: Keycloak Role Bug (#486)
  server/src/main/java/de/tum/cit/aet/thesis/entity/User.java
  server/src/main/java/de/tum/cit/aet/thesis/security/CurrentUserProvider.java
  server/src/main/java/de/tum/cit/aet/thesis/service/ThesisService.java
Labels: bug, java

#491 Development: Fix student selection bug
  server/src/main/java/de/tum/cit/aet/thesis/repository/UserRepository.java
Labels: bug, java

#488 Increase file upload limit to 25MB
  client/src/components/ThesisCommentsForm/ThesisCommentsForm.tsx
  client/src/pages/ThesisPage/components/ThesisProposalSection/ThesisProposalSection.tsx
  client/src/pages/ThesisPage/components/ThesisWritingSection/ThesisWritingSection.tsx
  server/src/main/java/de/tum/cit/aet/thesis/service/ThesisCommentService.java
  server/src/main/java/de/tum/cit/aet/thesis/service/ThesisService.java
  server/src/main/resources/application.yml
  server/src/test/resources/application.yml
Labels: enhancement

#495 Add a overload function to set the state not only to the current Date
  server/src/main/java/de/tum/cit/aet/thesis/service/ThesisService.java
Labels: bug, java

#500 Documentation: Add release workflow documentation
  docs/RELEASE.md
Labels: documentation

#494 Documentation: Research group documentation and setup
  docs/DEVELOPMENT.md
  server/src/main/resources/db/changelog/manual/insert_example_research_group.sql
  server/src/main/resources/db/changelog/manual/insert_example_users.sql
Labels: documentation, enhancement
